[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joblib = "*"
rich = "*"
pandas = "*"
ipython = "*"
python-dotenv = "*"
subliminal = "*"
catt = "*"
sqlite-utils = "*"
mutagen = "*"
tinytag = "*"
fuckit = "*"
tabulate = "*"
natsort = "*"
protobuf = "<4"

[dev-packages]
black = "*"
pylint = "*"
ssort = "*"
isort = "*"
line-profiler = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
