[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joblib = "*"
rich = "*"
pandas = "*"
ipython = "*"
python-dotenv = "*"
subliminal = "*"
catt = "*"
sqlite-utils = "*"

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
