[tool.poetry]
name = "xklb"
version = "1.12.014"
description = "xk media library"
authors = ["Jacob Chapman <7908073+chapmanjacobd@users.noreply.github.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
joblib = "^1.1.0"
rich = "^12.5.1"
pandas = "^1.4.3"
ipython = "^8.4.0"
subliminal = "^2.1.0"
catt = "^0.12.9"
sqlite-utils = "^3.28"
mutagen = "^1.45.1"
tinytag = "^1.8.1"
tabulate = "^0.8.10"
natsort = "^8.1.0"
protobuf = "<4"
trash-cli = "^0.22.4"
humanize = "^4.2.3"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = "^22.6.0"
pylint = "^2.14.5"
ssort = "^0.11.6"
isort = "^5.10.1"
line-profiler = "^3.5.1"
geopandas = "^0.11.1"
ipdb = "^0.13.9"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
lt = 'xklb.listen:main'
wt = 'xklb.watch:main'
lb-extract = 'xklb.extract:main'
