[tool.poetry]
name = "xklb"
version = "1.15.030"
description = "xk library"
authors = ["Jacob Chapman <7908073+chapmanjacobd@users.noreply.github.com>"]
readme = "README.md"
documentation = "https://github.com/chapmanjacobd/lb/wiki/Usage"
homepage = "https://github.com/chapmanjacobd/lb/"
license = "BSD-3-Clause"
packages = [
    { include = "scripts/" },
    { include = "xklb/" }
]

[tool.poetry.dependencies]
python = "^3.8"
joblib = "*"
rich = "*"
pandas = "*"
ipython = "*"
subliminal = "*"
catt = "*"
sqlite-utils = "*"
mutagen = "*"
tinytag = "*"
tabulate = "*"
natsort = "*"
protobuf = "<4"
humanize = "*"
ffmpeg-python = "*"
pysubs2 = "^1.4.3"

[tool.poetry.dev-dependencies]
pytest = "*"
black = "*"
pylint = "*"
ssort = "*"
isort = "*"
line-profiler = "*"
ipdb = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
library = 'xklb.lb:main'
lb = 'xklb.lb:main'

[tool.black]
line-length = 120
target-version = ['py38', 'py39', 'py310']

[tool.isort]
atomic = true
profile = "black"
line_length = 120
group_by_package = true
float_to_top = true
py_version = 39
combine_straight_imports = true

[tool.pytest.ini_options]
testpaths = ['tests']
addopts = "--pdbcls=IPython.terminal.debugger:TerminalPdb --ignore=tests/data --capture=tee-sys"
