[tool.poetry]
name = "xklb"
version = "1.12.068"
description = "xk library"
authors = ["Jacob Chapman <7908073+chapmanjacobd@users.noreply.github.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
joblib = "*"
rich = "*"
pandas = "*"
ipython = "*"
subliminal = "*"
catt = "*"
sqlite-utils = "*"
mutagen = "*"
tinytag = "*"
tabulate = "*"
natsort = "*"
protobuf = "<4"
humanize = "*"
ffmpeg-python = "*"
psutil = "^5.9.1"

[tool.poetry.dev-dependencies]
pytest = "*"
black = "*"
pylint = "*"
ssort = "*"
isort = "*"
line-profiler = "*"
ipdb = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
lb = 'xklb.lb:main'
lt = 'xklb.lb:listen'
wt = 'xklb.lb:watch'
tw = 'xklb.lb:tube_watch'
tl = 'xklb.lb:tube_listen'
