name: PyTest and Publish

on:
  push:
    tags: ['v[0-9].[0-9]+.[0-9]+']

jobs:
  test1:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - uses: FedericoCarboni/setup-ffmpeg@v3

      - name: Install pdm
        run: |
          python -m pip install pdm
          pdm install --no-editable -G test

      - name: Run missing modules test
        run: pdm run pytest tests/test_modules.py  # should run before deluxe deps installed

      - name: Run deluxe pytest
        run: |
          pdm install --no-editable -G deluxe
          pdm run pytest

  test2:
    needs: test1
    strategy:
      fail-fast: false
      max-parallel: 8
      matrix:
        nv: [ {os: windows-latest, py: "3.11"}, {os: macos-13, py: "3.12"} ]

    runs-on: ${{ matrix.nv.os }}
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.nv.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.nv.py }}

      - uses: FedericoCarboni/setup-ffmpeg@v3

      - name: Install Dependencies
        run: |
          python -m pip install pdm
          pdm install --no-editable -G test

      - name: Run deluxe pytest
        run: |
          pdm install --no-editable -G deluxe
          pdm run pytest

  publish:
    needs: [test1, test2]
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install pdm
        run: python -m pip install pdm

      - name: Build and publish
        run: pdm publish -u __token__ -P ${{ secrets.PYPI_TOKEN }}

  release:
    needs: publish
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: chapmanjacobd/create-release-node16@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
